.task1_main{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #E4DEF0;
}
.container{
    width: 90%;
    display: flex;
    align-items: flex-start;
    background-color: #F4F5F9;
    border-radius: 20px;
}
.left_part{
    display: flex;
    flex-direction: column;
    width: 75%;
    border-top-right-radius: 20px;
}
.rows{
    display: flex;
}