.cards{
    display: flex;
    justify-content: center;
}
.card_list{
    width: 90%;
}
.card_box{
    display: flex;
    cursor: pointer;
    background-color: white;
    justify-content: space-between;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin: 20px 0;
}
.first_line{
    display: flex;
    align-items: center;
}
.card_img{
    display: flex;
    width: 120px;
}
.icon{
    margin-right: 5px;
    margin-top: 3px;
}
.card_box:hover {
    transform: scale(1.02, 1.02);
}
.card_box:hover .description_header{
    color: #1b8ef9;
}
.card_description{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.description_header{
    color: #717171;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.company_name:after{
    content: "";
    margin:0 12px;
    border-right: 1px solid #777;
}
.description_p{
    font-size: 14px;
    color: #777;
}
.description_p::first-letter{
    text-transform: capitalize;
}
.date{
    color: #1b8ef9;
    display: flex;
}
.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}
