.register_form_label{
    display: flex;
    color: #222425;
    flex-direction: column;
    margin: 8px 0;
    font-size: 12px;
    font-weight: bold;
}
.register_form_input{
    margin-top: 8px;
    width: 240px;
    padding: 5px 10px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    outline-color: #167bff;
}