.customBtn{
    outline: none;
    cursor: pointer;
    border:none;
    border-radius: 3px;
}
.SignUpBtn{
    margin-top: 8px;
    background-color: #167bff;
    color: white;
    padding: 8px 0;
}
.registerBtn{
    padding: 5px;
    background-color: white;
}
.SignUpBtn:disabled{
    background-color: lightskyblue;
}
.logout_btn{
    margin: 15px;
    padding: 10px 15px;
    background-color: #1b8ef9;
    color: white;
}