.clicker{
    background-color:#F8F9FA;
    margin:50px;
    width: 300px;
    border:1px solid #A4AAB1;
    border-radius: 4px;
}
.number{
    text-align: center;
    padding: 70px 0;
    font-size: 100px;
    color: #A4AAB1;
}
.btn{
    width: 100px;
    height: 100px;
    border: none;
    outline: none;
    font-size: 22px;
    cursor: pointer;
}
.white{
    color: white;
}
.disbtn:disabled{
    background-color: #DC3545 !important;
}