.vacancy,
.views,
.vacancy_header,
.about_vacancy,
.contact_info{
    display: flex;
}
.vacancy_header{
    align-items: center;
}
.vacancy{
    justify-content: space-between;
    color: #2d2d2e;
    padding: 5% 8%;
}
.about_vacancy{
    flex-direction: column;
}
.vacancy_info{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}
.company-name{
    color: #1b8ef9;
}
.vacancy_img{
    width: 15%;
}
.salary{
    margin-left: 3%;
    background-color: #1b8ef9;
    padding: 1%;
    border-radius: 3px;
    color: white;
}
.salary > p {
    margin: 0;
}
.more_info{
    display: flex;
    flex-direction: column;
}
.details{
    display: flex;
    margin-top: 20px;
}
.details >p{
    display: inline-block;
    min-width: 200px;
}
.views{
    flex-direction: column;
}
.contact{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}
.contact_left{
    margin-right: 15%;
}
.contact_info > div > p{
    margin-top: 20px;
}