.register{
    background-color: white;
    border-radius: 8px;
    padding: 45px 50px;
}
.register_header{
    text-align: center;
    color: #222425;
}
.register_form{
    display: flex;
    flex-direction: column;
}
.error{
    color: red;
    font-size: 12px;
}
